---
import { Channel, db } from "astro:db";
import SharedLayout from "./_shared-layout.astro";

const channels = await db.select().from(Channel).limit(10);
---

<SharedLayout title="Slack Bug Tracker">
  <div class="grid-cols-12 rounded-lg border border-slate-700/40">
    <div
      class="grid grid-cols-12 gap-2 border-b border-slate-700/40 bg-slate-800/40 px-6 py-3 last:border-none"
    >
      <div class="col-span-1 truncate text-slate-400">Id</div>
      <div class="col-span-6 truncate text-slate-400">Channel</div>
      <div class="col-span-3 truncate text-right text-slate-400">
        Day(s) Since Bug
      </div>
      <div class="col-span-2 truncate text-right text-slate-400">Highscore</div>
    </div>
    {
      channels.map((c) => (
        <a
          class="grid grid-cols-12 gap-2 border-b border-slate-700/40 bg-slate-800/40 px-6 py-3 outline-none ring-purple-400 transition-colors duration-100 last:rounded-b-md last:border-none hover:bg-slate-700/40 focus:isolate focus:ring-2"
          href={`channel/${c.name}`}
        >
          <div class="col-span-1 truncate">{c.id}</div>
          <div class="col-span-6 truncate font-mono">#{c.name}</div>
          <div class="col-span-3 truncate text-right">{c.daysSinceBug}</div>
          <div class="col-span-2 truncate text-right">
            {c.highestDaysSinceBug}
          </div>
        </a>
      ))
    }
  </div>
</SharedLayout>
