---
import { Channel, db, eq } from "astro:db";
import { HiSolidCalendar, HiSolidHashtag, HiSolidTrophy } from "solid-icons/hi";
import "../../global.css";
import Confetti from "./_confetti";
import ConfirmResetDialog from "./_confirm-reset-dialog";
import SharedLayout from "../_shared-layout.astro";

const { name } = Astro.params;

if (!name) {
  return new Response("Missing channel name", { status: 404 });
}

const channel = (
  await db.select().from(Channel).where(eq(Channel.name, name))
)[0];

if (!channel) {
  return new Response("Channel not found", { status: 404 });
}
---

<SharedLayout title={`${channel.daysSinceBug} Day(s) Since Bug`}>
  <Confetti client:load />
  <article class="grid grid-cols-2 gap-3">
    <section
      class="col-span-2 rounded-lg border border-slate-700/40 bg-slate-800/40 p-4"
    >
      <div class="flex items-center gap-3">
        <HiSolidHashtag stroke-width={1} class="text-slate-500" />
        <h1 class="font-mono">{channel.name}</h1>
      </div>
    </section>
    <section
      class="col-span-1 rounded-lg border border-slate-700/40 bg-slate-800/40 p-4"
    >
      <div class="flex items-center gap-3 pb-4">
        <HiSolidCalendar stroke-width={1} class="text-slate-500" />
        <h2>Day(s) Since Bug</h2>
      </div>
      <p class="text-4xl">{channel.daysSinceBug}</p>
    </section>
    <section
      class="col-span-1 rounded-lg border border-slate-700/40 bg-slate-800/40 p-4"
    >
      <div class="flex items-center gap-3 pb-4">
        <HiSolidTrophy class="text-slate-500" />
        <h2>Highscore</h2>
      </div>
      <p class="text-4xl">{channel.highestDaysSinceBug}</p>
    </section>
  </article>
  <div class="col-span-2 flex justify-center pt-10">
    <ConfirmResetDialog client:load channelName={channel.name} />
  </div>
</SharedLayout>
